/* This style is for paragraph */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body, form, input, textarea {
    font-family: 'Montserrat', sans-serif;
}
span {
    display: block;
}
img {
    width: 100%;
}
p {
    line-height: 30px;
    font-size: 20px;
    color: lightskyblue;
}
h1 {
    color: deeppink;
    font-size: 40px;
    text-shadow: 7px 3px black;
}
p {
    color: lightskyblue;
}
p {
    line-height: 25px;
    font-size: 20px;
    font-family: monospace;
}
h2{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 30px;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
header {
    background: #fff url(../images/mountains.jpg) no-repeat;
    padding: 90px;
    background-attachment: fixed;
    background-size: cover;
    
}
nav.header-navigation {
    margin-top: 50px;
    padding: 30px;
}
nav.header-navigation a {
    font-size: 20px;
    text-decoration: none;
    margin: 13px;
    color: #ffffff;
}
nav.header-navigation a:hover {
    color: pink;
    font-weight: 900;
}
nav.header-navigation a {
    font-size: 18px;
    text-decoration: none;
    margin: 13px;
    color: white;
}
h1 {
    color: #2ab7b7;
}
h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 27px;
    color: white;
}
h2 {
    color: white;
}

* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body, form, input, textarea {
    font-family: 'Montserrat', sans-serif;
}


/* Add your Banner here */



/* Add your About Styles here*/
section.about-section {
    background: url(../images/moon.png) no-repeat;
}
section#about {
    text-align: center;
    font-weight: 600;
}
.about-me {
    width: 50%;
    text-align: center;
    display: inline-block;
}
.about-me p {
    margin-bottom: 18px;
    color: white;
    text-indent: 30px;
    letter-spacing: 2px;
}
h2 {
    color: white;
}



/* Add your Skills Styles here*/
section#skills .col {
    font-size: 90px;
}
section#skills .col {
    font-size: 90px;
    display: inline-block;
    WIDTH: 25%;
}
section#skills {
    background: url(../images/skillz.jpg);
    color: #fff;
    background-size: cover;
    padding: 56px;
    background-attachment: fixed;
    color: darkorchid;
}

section.quote {
    padding: 80px 50px;
    text-align: center;
}
section.quote {
    background: #c53c54;
}
span.music {
    color: tomato;
}
i.bx.bxs-microphone-alt {
    color: maroon;
}
span.run {
    color: yellow;
}
i.bx.bxs-user-voice {
    color: darkkhaki;
}
span.wink-tongue {
    color: floralwhite;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
section#projects {
    background: url(../images/projects.jpg);
}


/* Contact Styles */
section#contact {
    background: url('../images/contactzz.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
h2 {
    color: black;
}
label {
    padding: 12px;
}
form{
    display: inline-grid;
   justify-items: start;
}
.form-container {
    display: inline-block;
    text-align: right;
    width: 97%;
    text-align: end;
}
.form-container h2{
    font-size: 35px;
    text-transform: uppercase;
    padding: 12px;
}
input[type="text"] {
    border: none;
    background: transparent;
    border-bottom: black 1px solid;
    padding-top: 18px;
    width: 700px;
}
input[type="button"] {
    display: inline-grid;
    background-color: #0c9982;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.button{
    padding: 10px;
    margin-left: 570px;
}
input[type="button"]:hover {
    background: #10ebc3;
    color: black;
    font-weight: 900;
}
input[type="text"]:focus-visible, textarea:focus-visible {
    outline: none;
}
textarea#message {
    border: 1px solid #000;
    border-radius: 10px;
    background: none;
    padding: 5px;
    font-size: 18px;
}

input[type="button"]:hover {
    background: #007e67;
}

/* Footer Styles */
footer, a {
    color: #fff;
}
.footer-1{
    display: flex;
    justify-content: space-between;
}
footer {
    background: #1a1a1a;
}
section.footer-1 .col {
    vertical-align: top;
}
section.footer-1 .col ul li img {
    width: 100px;
    margin-top: 10px;
}
section.footer-1 .col ul li {
    list-style: none;
    display: inline-block;
}
.footer-1 form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 26px;
}
.footer-1 input[type="button"] {
    margin-top: 0;
    font-size: 11px;
    padding: 15px 11px;
    letter-spacing: 3px;
    border-radius: 50px;
    color: #fff;
    background-color: #0c9982;
    width: 30%;
    text-transform: uppercase;
    border: none;
}
.social-media-icon {
    margin-top: 15px;
}
.social-media-icon a {
    font-size: 48px;
}
.social-media-icon a:hover {
    color: #00c8a3;
}
.footer-1 input#email {
    border: 1px solid #fff;
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: transparent;
    padding: 10px;
    color: #fff;
    width: 100%;
}
footer h3 {
    line-height: 30px;
    color: #fff;
    padding: 37px;
}
span.copyright {
    margin-top: 23px;
}
h1 {
    color: deeppink;
}